/target
/dist
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
worker/
node_modules/
.cargo-ok
wrangler.prod.toml
.mf
.wrangler/
.idea/
# Dependencies
bun.lockb

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build

# OS
.DS_Store
Thumbs.db